@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	cursor:url(/billeder/mus.png) 28 28, auto;
}

a {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

::-webkit-scrollbar-track {
	background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
	background: #f9ff63;
	border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
	background: #f9ff63;
}

::-webkit-scrollbar-corner {
	background: #f0f0f0;
}
